body {
    background-image: url('https://cdn.shopify.com/s/files/1/0533/2089/files/5-websites-to-download-free-subtle-textures-subtle.jpg?5724472906039650661');
}

h1 {
    color: cadetblue;
    display: flex;
    background-color: aliceblue;
    justify-content: center;
    padding: 30px;
}

.image {
    border-radius: 6px;
    margin-right: 20px; 
    opacity: 0.5;
    width: 200px;
    height: 210px;
}

.side {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    padding: 20px;
    background-color: aliceblue;
    color: cadetblue;
    font-style: italic;
    border-radius: 8px;
    font-size: larger;
}

.container {
    display: flex;
}

.box {
    padding: 5px;
}

.boxx{
    padding-left: 100px;
}

.boxy{
    padding-block-start: 100px;
    padding-left: 120px;
}

.side2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 20px;
    background-color: aliceblue;
    color: cadetblue;
    border-radius: 8px;
    font-size: larger;
    height: 280px;
    width: 330px;
}

.side3 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-color: aliceblue;
    color: cadetblue;
    border-radius: 8px;
    font-size: larger;
    height: 280px;
    width: 380px;
}

.box2 {
    padding: 100px;
}